@using Microsoft.Extensions.Options
@using MyBlog.Entities.Concrete
@inject IOptionsSnapshot<WebSiteInfo> WebSiteInfo
@{ 
    var websiteInfo = WebSiteInfo.Value;
}
<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@websiteInfo.SeoDescription">
    <meta name="author" content="@websiteInfo.SeoAuthor">
    <meta name="keywords" content="@websiteInfo.SeoTags" />

    <title>@ViewBag.Title | @websiteInfo.Title</title>

    <!-- Bootstrap core CSS -->
    <link href="~/BlogHome/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/BlogHome/css/blog-home.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
   @RenderSection("Styles",false)
</head>

<body>

    <!-- Navigation -->
    <partial name="_MainMenuPartial" />
    <div class="row col-lg-12 mt-4 mb-4"></div>
    <!-- Page Content -->
    <div class="container">

        <div class="row" style="background: #fff; -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1); }">

            @RenderBody()
            @await Component.InvokeAsync("RightSidetBar");

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Tüm hakları saklıdır &copy;MyBlog 2021</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/BlogHome/vendor/jquery/jquery.min.js"></script>
    <script src="~/BlogHome/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", false)
</body>

</html>
