@model MyBlog.Mvc.Models.RightSidetBarViewModel
@using MyBlog.Mvc.Extensions

<!-- Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Arama</h5>
        <div class="card-body">
            <form asp-controller="Article" asp-action="Search" method="post">
                <div class="input-group">
                    <input type="text" class="form-control" name="keyword" placeholder="Aramak istediğiniz anahtar kelime...">
                    <span class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Ara!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>







    <div class="sidebar-box">
        <h3 class="heading">Kategoriler</h3>
        <ul class="categories">
            @foreach (var category in Model.Categories)
            {
<li><a style="text-decoration:none; color:black" asp-controller="Home" asp-action="Index" asp-route-categoryId="@category.Id">@category.Name <span>(@category.Articles.Count)</span></a></li>}
        </ul>
    </div>

    <!-- Side Widget -->
    <div class="sidebar-box">
        <h3 class="card-header">En çok okunan makaleler</h3>
        <div class="post-entry-sidebar">
            <ul>


                @for (int i = 0; i < Model.Articles.Count; i++)
                {
    <li>
        <a style="text-decoration:none;color:black;" href="/@Url.FriendlyUrlHelper(Model.Articles[i].Title)/@Model.Articles[i].Id">
            <img src="~/img/@Model.Articles[i].Thumbnail" alt="@Model.Articles[i].Title" class="mr-4">
            <div class="text">
                <h4>@Model.Articles[i].Title</h4>
                <div class="post-meta">
                    <span class="mr-2">@Model.Articles[i].CreateDate.ToShortDateString() </span>
                </div>
            </div>
        </a>
    </li>}

            </ul>
        </div>
    </div>


</div>



